.location {
    background-color: #FFFFBA;
}

.organization {
    background-color: #BAE1FF;
}

.person {
    background-color: #FFD3B6;
}

.event {
    background-color: #A8E6CF;
}

.unknown {
    background-color: #FF8B94;
}

.tagged-text {
    border-radius: 6px;
    padding: 2px;
    cursor: pointer;
    font-size: 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #888;
}

.step {
    margin-top: 10px;
}

.header-step {
    margin-top: -32px;
}

.step-instruction-glyphicon {
    color: #337AB7;
    top: 3px;
}

.transcribe-color {
    color: #000000;
    background-color: #F7F2C5;
}

.tag-color {
    color: #000000;
    background-color: #F7D1C5;
}

.connect-color {
    color: #000000;
    background-color: #C9D1F8;
} 

.discuss-color {
    color: #000000;
    background-color: #C5F7EB;
}

.green-color {
    color: #5CB85C;
}

.blue-color {
    color: #5BC0DE;
}

.red-color {
    color: #D9534F;
}